.menu__wrap
  .menu
    .menu__top
      a.menu__logo.menu__logo--desctop(href="#")
        svg
          use(xlink:href="#logo")
      a.menu__logo.menu__logo--mobile(href="#")
        svg
          use(xlink:href="#logo-mobile")
    a.menu__profile.menu-profile(href="#")
      img.menu-profile__ava(src="/static/images/ava.jpg")
      span 47903..............7924
      svg
        use(xlink:href="#menu-arr")
    .menu__theme.menu-theme
      svg.menu-theme__moon
        use(xlink:href="#moon")
      .menu-theme__switcher
      svg.menu-theme__sun
        use(xlink:href="#sun")
    .menu__hidden.menu-hidden(active)
      .menu-hidden__top
        a.menu-hidden__logo(href="#")
          svg
            use(xlink:href="#logo")
        button.menu-hidden__close
          svg
            use(xlink:href="#close-menu")
      nav.menu__nav
        ul.menu__list.menu-list
          li.menu-list__item
            a.menu-list__link(href="#")
              svg
                use(xlink:href="#menu1")
              | Collections
          li.menu-list__item
            a.menu-list__link(href="#")
              svg
                use(xlink:href="#menu2")
              | Minting Now
          li.menu-list__item
            a.menu-list__link.active(href="#")
              svg
                use(xlink:href="#menu3")
              | Wallet
          li.menu-list__item
            a.menu-list__link(href="#")
              svg
                use(xlink:href="#menu4")
              | Calendar
          li.menu-list__item
            a.menu-list__link(href="#")
              svg
                use(xlink:href="#menu5")
              | Whale List
          li.menu-list__item
            a.menu-list__link(href="#")
              svg
                use(xlink:href="#menu6")
              | FAQ
      ul.menu__socials.menu-socials
        li.menu-socials__item
          a.menu-socials__link(href="#")
            svg
              use(xlink:href="#socials-twitter")
        li.menu-socials__item
          a.menu-socials__link(href="#")
            svg
              use(xlink:href="#socials-mail")
        li.menu-socials__item
          a.menu-socials__link(href="#")
            svg
              use(xlink:href="#socials-discord")
        li.menu-socials__item
          a.menu-socials__link(href="#")
            svg
              use(xlink:href="#socials-premium")
      p.menu__copyright @ 2021,<br> NFT Analytics
    button.menu__mobile.menu__mobile--burger
      svg
        use(xlink:href="#burger")
    button.menu__mobile.menu__mobile--profile
      svg
        use(xlink:href="#profile")
