.top
  ul.top__list
    li.top__item.top-item
      .top-item__img
        img(src="/static/images/top/1.png" alt="Ethereum Today’s")
      .top-item__content
        span.top-item__name Ethereum Today’s
        .top-item__row.increase
          span.top-item__price $3,900
          span.top-item__difference +5% (+274$)
    li.top__item.top-item
      .top-item__img
        img(src="/static/images/top/2.png" alt="ETH Gas")
      .top-item__content
        span.top-item__name ETH Gas
        .top-item__row
          span.top-item__price 93 Gwei
    li.top__item.top-item
      .top-item__img
        img(src="/static/images/top/3.png" alt="Total Sales, PSC")
      .top-item__content
        span.top-item__name Total Sales, PSC
        .top-item__row.decrease
          span.top-item__price
            svg
              use(xlink:href="#ethereum")
            | 43,052
          span.top-item__difference -14% (-511$)
    li.top__item.top-item
      .top-item__img
        img(src="/static/images/top/4.png" alt="Total Sales, ETH")
      .top-item__content
        span.top-item__name Total Sales, ETH
        .top-item__row.increase
          span.top-item__price $173,000
          span.top-item__difference +8% (+3,488$)
