block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    meta(content="" name="description")
    meta(content="" name="keywords")

    meta(property="og:site_name" content="NFT-analytics")
    meta(property="og:title" content="NFT-analytics")
    meta(property="og:description" content="NFT-analytics")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://nft-analytics.ru/")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet")

    link(rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png")
    link(rel="manifest" href="/static/favicon/site.webmanifest")
    link(rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#ff6300")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="theme-color" content="#ffffff")

  body
    .sprite
      include includes/svg-sprite
    .wrapper
      include includes/menu
      main.content
        include includes/top
        block content
