extends ../template

block variables
  - var title = 'Wallet analitycs'

block content
  section.wallet
    .wallet__list.wallet-list
      button.wallet-list__add
        svg
          use(xlink:href="#add")
      ul.wallet-list__items
        li.wallet-list__item.wallet-list-item.active
          a.wallet-list-item__link(href="#")
            img.wallet-list-item__img(src="/static/images/ava.jpg")
            .wallet-list-item__delete
              svg
                use(xlink:href="#delete")
        li.wallet-list__item.wallet-list-item
          a.wallet-list-item__link(href="#")
            img.wallet-list-item__img(src="/static/images/ava.jpg")
            .wallet-list-item__delete
              svg
                use(xlink:href="#delete")
        li.wallet-list__item.wallet-list-item
          a.wallet-list-item__link(href="#")
            img.wallet-list-item__img(src="/static/images/ava.jpg")
            .wallet-list-item__delete
              svg
                use(xlink:href="#delete")
    .wallet__info
      .wallet__general.wallet-general
        button.wallet-general__notice
          svg
            use(xlink:href="#notice")
        .wallet-general__top
          img.wallet-general__img(src="/static/images/ava.jpg")
          .wallet-general__col
            p.wallet-general__name Wallet Name
              button.wallet-general__edit
                svg
                  use(xlink:href="#edit")
            p.wallet-general__code 4x790rererq673.............................c9v4
        .wallet-general__row
          span Balance:
          span
            svg
              use(xlink:href="#ethereum")
            | 0.05
        .wallet-general__row
          span NFT collection
          span 230
        ul.wallet-general__list
          - for(var i = 0; i < 6; i++)
            li.wallet-general__collection.wallet-general-collection
              .wallet-general-collection__img
                img(src="/static/images/collection.png")
              span.wallet-general-collection__price
                svg
                  use(xlink:href="#ethereum")
                | 10
        a.btn.primary-btn.wallet-general__btn(href="#") Portfolio Value
      .wallet__charts.wallet-charts
        .wallet-charts__top
          .wallet-charts__wrap
            .wallet-charts__filter.wallet-charts__filter--currency.wallet-charts-filter
              span(style="left: 0.4rem")
              button.wallet-charts-filter__item USD
              button.wallet-charts-filter__item ETH
          .wallet-charts__wrap
            .wallet-charts__filter.wallet-charts__filter--period.wallet-charts-filter
              span(style="left: 0.4rem")
              button.wallet-charts-filter__item 15M
              button.wallet-charts-filter__item 1H
              button.wallet-charts-filter__item 3H
              button.wallet-charts-filter__item 1D
              button.wallet-charts-filter__item 7D
              button.wallet-charts-filter__item 1M
              button.wallet-charts-filter__item 3M
              button.wallet-charts-filter__item
                svg.wallet-charts-filter__calendar
                  use(xlink:href="#calendar")
          .wallet-charts__btns.wallet-charts-btns
            button.wallet-charts-btns__btn
              span
              | Sell
              svg
                use(xlink:href="#ethereum")
              | 2.5
            button.wallet-charts-btns__btn.active
              span
              | Buy
              svg
                use(xlink:href="#ethereum")
              | 5
            button.wallet-charts-btns__btn
              span
              | Mint
              svg
                use(xlink:href="#ethereum")
              | 8
        .wallet-charts__content
          img(src="/static/images/grathic.png")
    .wallet__history.wallet-history
      .wallet-history__top.wallet-history-top
        span.wallet-history-top__title Transaction History:
        .wallet-history-top__btns
          button.wallet-history-top__btn Sold
            span
          button.wallet-history-top__btn Bought
            span
          button.wallet-history-top__btn Mint
            span
          button.wallet-history-top__btn.active Transfer
            span
      .wallet-history__row.wallet-history__row--header
        .wallet-history__col
        .wallet-history__col Collection
        .wallet-history__col Token
        .wallet-history__col Price
        .wallet-history__col Gas
        .wallet-history__col Total
        .wallet-history__col Date
        .wallet-history__col
      ul.wallet-history__list
        li.wallet-history__item.active
          .wallet-history__row
            .wallet-history__col
              svg.wallet-history__type
                use(xlink:href="#wallet-list-sold")
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinhead’s Pumpkin Patch
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinheads #235
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.04
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.01
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.05
            .wallet-history__col Oct 09, 2021 15:30 PM
            .wallet-history__col
              a.wallet-history__link(href="#")

          .wallet-history__hidden.wallet-history-hidden
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Price:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.04
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Gas:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.01
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Date:
              span.wallet-history-hidden__value Oct 09, 2021 15:30 PM
        li.wallet-history__item
          .wallet-history__row
            .wallet-history__col
              svg.wallet-history__type
                use(xlink:href="#wallet-list-bought")
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinhead’s Pumpkin Patch
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinheads #235
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.04
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.01
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.05
            .wallet-history__col Oct 09, 2021 15:30 PM
            .wallet-history__col
              a.wallet-history__link(href="#")
          .wallet-history__hidden.wallet-history-hidden
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Price:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.04
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Gas:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.01
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Date:
              span.wallet-history-hidden__value Oct 09, 2021 15:30 PM
        li.wallet-history__item
          .wallet-history__row
            .wallet-history__col
              svg.wallet-history__type
                use(xlink:href="#wallet-list-transfer")
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinhead’s Pumpkin Patch
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinheads #235
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.04
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.01
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.05
            .wallet-history__col Oct 09, 2021 15:30 PM
            .wallet-history__col
              a.wallet-history__link(href="#")
          .wallet-history__hidden.wallet-history-hidden
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Price:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.04
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Gas:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.01
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Date:
              span.wallet-history-hidden__value Oct 09, 2021 15:30 PM
        li.wallet-history__item
          .wallet-history__row
            .wallet-history__col
              svg.wallet-history__type
                use(xlink:href="#wallet-list-mint")
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinhead’s Pumpkin Patch
            .wallet-history__col
              .wallet-history__img
                img(src="/static/images/collection.png")
              span Pumpkinheads #235
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.04
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.01
            .wallet-history__col
              svg.wallet-history__currency
                use(xlink:href="#ethereum")
              | 0.05
            .wallet-history__col Oct 09, 2021 15:30 PM
            .wallet-history__col
              a.wallet-history__link(href="#")
          .wallet-history__hidden.wallet-history-hidden
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Price:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.04
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Gas:
              span.wallet-history-hidden__value
                svg.wallet-history-hidden__currency
                  use(xlink:href="#ethereum")
                | 0.01
            .wallet-history-hidden__col
              span.wallet-history-hidden__name Date:
              span.wallet-history-hidden__value Oct 09, 2021 15:30 PM
